@model ERecruitment.Models.Tests.Test
@{
    
    var test = Model;
    ViewBag.Title = string.Format("Take {0} exam.", test.TestTitle);
}

<section class="content">
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    <div class="box">
        <header>
            <h3>@test.TestTitle</h3>
        </header>
        <ul class="list-block">
            <li>
                <strong>Total score: </strong>
                <strong>@test.TotalScore</strong>
            </li>
            <li>
                <strong>Question count: </strong>
                <strong>@test.QuestionsCount</strong>

            </li>
            <li>
                <strong>Added on: </strong>
                <strong>@test.AddedOn.ToShortDateString()</strong>
            </li>
        </ul>
        <div class="clearfix">
            <a href="@Url.Action("start", "exam", new{id = test.Id})" 
               class="btn btn-primary">Start</a>
        </div>
    </div>
</section>

